@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-bg: #36d1dc;
  --color-bg-variant: #5b86e5;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.app {
  display: flex;
}

.scrollable {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 8px;
  }
}

body {
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

.sended {
  background: $primary-color;
  color: white;
  margin-left: auto;
}

.received {
  background: $secondary-color;
  color: #333;

  time {
    color: #666 !important;
  }
}
